@{
    ViewData["Title"] = "Admin";
}


<div class="row">
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Buffalo</h5>
        <p class="card-text">
                    <div class="h6">Liters : @ViewData["todayBuffaloMilk"]</div>
                    <div class="h6">Average Fat : @ViewData["todayAvgBuffaloFat"]</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Cow</h5>
            <p class="card-text">
                    <div class="h6">Liters :  @ViewData["todayCowMilk"]</div>
                    <div class="h6">Average Fat : @ViewData["todayAvgCowFat"]</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Other</h5>
            <p class="card-text">
                <div class="h6">Liters : 00</div>
                <div class="h6">Average Fat : 0.0</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Active Suppliers : @ViewData["UserCount"]</h5>
        <p class="card-text"></p>
        <a href="/Users" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Billing</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
