@model IEnumerable<Core.Model.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Users</h1></center>

<p>
    <a class="btn btn-primary" href="#" onclick="newUser();">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-primary" href="#" onclick="editUser(@item.Id)">Edit</a> 
                @Html.ActionLink("Delete", "Delete", new { id=item.Id},new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function saveNewUser(){
        hideModal();
        $("#createUser").submit();
    }
    function newUser(){
        let body=showModal("New user",saveNewUser,null);
        $(body).load('@Url.Action("Create","Users")');
    }

    function saveEditUser(){
        hideModal();
        $("#editUser").submit();
    }
    function editUser(id){
        let body=showModal("Edit user",saveEditUser,null);
        $(body).load(`@Url.Action("Edit","Users")?id=${id}`);
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
